<div class="team">
  <h3>Name: <%=@team.name%> </h3>
  <h3>Weight:<%=@team.motto%> </h3>
</div><br>


<% @ships.each do |ship| %>
<div class="hero">
  <h3>Ship Name: <%=ship.name%> </h3>
  <h3>Ship Type:<%=ship.type%> </h3>
  <h3>Ship Booty: <%=ship.booty%></h3>
</div><br>
<%end %>
